# /ca.edchipman.silverStripePDT/
/ca.edchipman.silverStripePDT/bin

# /ca.edchipman.silverStripePDT/DevTimeSupport/SedModel/SSTokenizer/devel/
/ca.edchipman.silverStripePDT/DevTimeSupport/SedModel/SSTokenizer/devel/*.java

# /ca.edchipman.silverStripePDT/DevTimeSupport/cache/
/ca.edchipman.silverStripePDT/DevTimeSupport/cache/*

# /ca.edchipman.silverStripePDT/bin/
/ca.edchipman.silverStripePDT/bin/*.*
/ca.edchipman.silverStripePDT/bin/*
