<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ca.edchipman.silverStripeDT.coreversion"
         name="SilverStripe Version"
         point="ca.edchipman.silverStripePDT.ss_version">
      <ss_version
            activator="ca.edchipman.silverstripedt.ss_3_3.SSVersionActivator"
            display_name="SilverStripe 3.3"
            id="ca.edchipman.silverStripeDT.coreversion.ss_3_3"
            language_provider="ca.edchipman.silverstripedt.ss_3_3.language.DefaultLanguageModelProvider"
            project_creator="ca.edchipman.silverstripedt.ss_3_3.project.NewSilverStripeProjectCreator"
            release_chain="3.3"
            supports_framework_only="true">
      </ss_version>
   </extension>

</plugin>
