<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ca.edchipman.silverStripeDT.coreversion"
         name="SilverStripe Version"
         point="ca.edchipman.silverStripePDT.ss_version">
      <ss_version
            activator="ca.edchipman.silverstripedt.ss_3_1.SSVersionActivator"
            display_name="SilverStripe 3.1"
            id="ca.edchipman.silverStripeDT.coreversion.ss_3_1"
            release_chain="3.1"
            supports_framework_only="true">
      </ss_version>
   </extension>

</plugin>
