<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ca.edchipman.silverStripeDT.coreversion"
         name="SilverStripe Version"
         point="ca.edchipman.silverStripePDT.ss_version">
      <ss_version
            activator="ca.edchipman.silverstripedt.ss_3_5.SSVersionActivator"
            display_name="SilverStripe 3.5"
            id="ca.edchipman.silverStripeDT.coreversion.ss_3_5"
            language_provider="ca.edchipman.silverstripedt.ss_3_5.language.DefaultLanguageModelProvider"
            project_creator="ca.edchipman.silverstripedt.ss_3_5.project.NewSilverStripeProjectCreator"
            release_chain="3.5"
            supports_framework_only="true"
            supports_reports_module="true"
            supports_siteconfig_module="true">
      </ss_version>
   </extension>

</plugin>
